In [2]:
import numpy as np

In [4]:
## Datatypes and Attributes

In [5]:
# main data type is ndarray

In [7]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [8]:
a2 = np.array([[1,2,3], [4,5,6], [7,8,9]])
a2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
a2.shape

(3, 3)

In [10]:
a2.ndim # ilość wymiarów

2

In [12]:
a2.dtype

dtype('int64')

In [14]:
a2.size # liczba elementów w środku

9

In [15]:
# DataFrame from Numpy array
import pandas as pd

In [17]:
df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9